<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>MIXX</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-white">
        <div class="container px-5">
            <a class="navbar-brand text-dark" href="../index.html">
                <img src="http://cromixi.com/images/logo/cromixi_logo.png" alt="크로믹시 로고이미지">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link text-dark" href="../index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" href="../about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" href="/board/list">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" href="../contact.html">Contact</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" href="/member/login">login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div layout:fragment="content" style="width: 75%;">
            <div layout:fragment="content">
                <div class="text-center">
                    <h1><hr />board-read 조회처리<hr /></h1>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                게시판 내용조회
                            </div>
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">번호</span>
                                    <input type="text" class="form-control" th:value="${dto.bno}" readonly>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">제목</span>
                                    <input type="text" class="form-control" th:value="${dto.title}" readonly>
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">내용</span>
                                    <textarea class="form-control col-sm-5" rows="5" readonly>[[${dto.content}]]</textarea>
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">작성자</span>
                                    <input type="text" class="form-control" th:value="${dto.writer}" readonly>
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">작성일</span>
                                    <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">수정일</span>
                                    <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                                </div>

                                <div class="my-4" th:with="user=${#authentication.principal}">
                                    <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
                                        <a th:href="|@{/board/list}?${link}|" class="text-decoration-none">
                                            <button type="button" class="btn btn-primary">List</button>
                                        </a>
                                        <a th:if="${user != null && user.username == dto.writer}" th:href="|@{/board/modify(bno=${dto.bno})}&${link}|" class="text-decoration-none">
                                            <button type="button" class="btn btn-secondary">Modify</button>
                                        </a>
                                    </div>
                                </div>


                            </div><!--end card body-->
                        </div><!--end card-->
                    </div><!-- end col-->
                </div><!-- end row-->
            </div>
        </div>
    </div>

    <!--         Footer-->
    <footer class="bg-secondary py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2023</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/reply.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>


    <script layout:fragment="script" th:inline="javascript">

        document.querySelector(".pagination").addEventListener("click", function (e) {
            e.preventDefault()
            e.stopPropagation()

            const target = e.target

            if(target.tagName !== 'A') {
                return
            }

            const num = target.getAttribute("data-num")

            const formObj = document.querySelector("form")

            formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`

            formObj.submit();

        },false)


    </script>

    <script layout:fragment="script" th:inline="javascript">


        const bno = [[${dto.bno}]]

        function printPages(data){ //페이지 목록 출력

            //pagination
            let pageStr = '';

            if(data.prev) {
                pageStr +=`<li class="page-item"><a class="page-link" data-page="${data.start-1}"><<</a></li>`
            }

            for(let i = data.start; i <= data.end; i++){
                pageStr +=`<li class="page-item ${i == data.page?"active":""} "><a class="page-link" data-page="${i}">${i}</a></li>`
            }

            if(data.next) {
                pageStr +=`<li class="page-item"><a class="page-link" data-page="${data.end +1}">>></li>`
            }
        }



    </script>



