<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>MIXX</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-white">
        <div class="container px-5">
            <a class="navbar-brand text-dark" href="../index.html">
                <img src="http://cromixi.com/images/logo/cromixi_logo.png" alt="크로믹시 로고이미지">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link text-dark" href="../index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" href="../about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" href="/board/list">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" href="../contact.html">Contact</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" href="/member/login">login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--             네비바 end    -->

    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div layout:fragment="content" style="width: 75%;">
            <div class="text-center">
                <h1><hr />board-register<hr /></h1>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            게시판 등록
                        </div>
                        <div class="card-body">
                            <form action="/board/register" method="post">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">제목</span>
                                    <input type="text" name="title" class="form-control">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">내용</span>
                                    <textarea class="form-control col-sm-5" rows="5" name="content"></textarea>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">작성자</span>
                                    <input type="text" name="writer" class="form-control"
                                           th:value="${#authentication.principal.username}" readonly>
                                </div>
                                <div class="my-4">
                                    <div class="float-end">
                                        <button type="submit" class="btn btn-primary submitBtn">등록</button>
                                        <button type="reset" class="btn btn-secondary" id="cancelButton" >취소</button>
                                    </div>
                                </div>
                            </form>
                        </div><!--end card body-->

                    </div><!--end card-->
                </div><!-- end col-->
            </div><!-- end row-->
        </div>
    </div>

    <!--         Footer-->
    <footer class="bg-secondary py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2023</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../js/scripts.js"></script>
    <script layout:fragment="script" th:inline="javascript">

        const auth = [[${#authentication.principal}]]
        const errors = [[${errors}]]
        console.log(errors)

        let errorMsg = ''

        if(errors){
            for (let i = 0; i < errors.length; i++) {
                errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
            }
            alert(errorMsg)
        }

    </script>
    <script>
        // "취소" 버튼에 클릭 이벤트 핸들러를 추가
        document.getElementById("cancelButton").addEventListener("click", function() {
            window.location.href = "/board/list";
        });
    </script>

</body>
</html>