<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <title>mixx 로그인</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link href="../css/login.css" rel="stylesheet">
    <script src="../js/login.js"></script>
</head>
    <!--  html 전체 영역을 지정하는 container -->
<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
    <div style="width: 95%; max-width: 500px; border: 1px solid #ccc; padding: 20px;">
    <!--  login 폼 영역을 : loginBox -->
    <div id="loginBox">
        <!-- 로그인 페이지 타이틀 -->
        <div id="loginBoxTitle" style="font-size: 24px; font-weight: bold;">LOGIN</div>
        <div class="card-body">
            <th:block th:if="${param.logout != null}">
                <h1>Logout........1</h1>
            </th:block>

            <section>
                <form action="/member/login" method="post" th:if="${param.logout == null }">
                    <input class="box" id="signin-id" type="text" name="username" placeholder="아이디 입력 (6~20자)"/>
                    <input class="box" id="signin-pw" type="password" name="password" placeholder="비밀번호 입력 (문자, 숫자, 특수문자 포함 8~20자)"/>
                    <button id="signin" type="submit">로그인</button>
                </form>
            </section>

            <div id="link-menu">
                <a href="javascript:void(0)">아이디 찾기 </a>
                <a href="javascript:void(0)">비밀번호 찾기 </a>
                <a href="/member/join">회원가입 </a>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>